h1{
    background: darkmagenta;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
    border: 2px solid chocolate;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

p{
    background: cadetblue;
    color: bisque;
    font-family: cursive;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

img{
    width: 1600px;
    margin-bottom: 30px;
}

.fondo{
    background: hotpink;
}

#parrafo{
    margin-top: -20px;
    background: aquamarine;
    color: burlywood;
    text-align: center;
    padding-left: 110px;
    padding-right: 110px;
}